body {
  background-image: url(../img/fondo.jpg);
  box-sizing: border-box;
  font-family: "Neucha", cursive;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 42px;
  color: #42afd6;
  margin: 0;
}

#start-game, #game, #results-container {
  width: 80%;
  margin: 0 auto;
  border: 12px solid black;
  border-radius: 15px;
  text-align: center;
  background-color: #f9e9df;
  font-size: 21px;
  font-weight: bold;
  padding: 3% 1%;
}

input:focus, button:focus {
  outline: 3px solid hotpink;
  box-shadow: 0 0 3px hotpink;
}

#start-game div, #start-game p, #start-game label {
  margin: 0 auto;
}
#start-game p, #start-game label {
  width: 80%;
}
#start-game #get-username input {
  width: 70%;
  padding: 6px;
  margin: 10px 0;
}

.lvl-btns {
  width: 90%;
  margin: 0 auto;
}
.lvl-btns button {
  width: 100%;
  margin-top: 12px;
  padding: 10px 0;
  background-color: #FF9801;
  border: none;
  border-radius: 6px;
  color: white;
  letter-spacing: 3px;
  transition: all 0.3s ease-in-out;
}
.lvl-btns button:hover {
  background-color: #fdaf39;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#start-game .error-username {
  width: 90%;
  margin-top: 12px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #e9c4c3;
  color: #a94442;
}

#game {
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9e9df;
  opacity: 0.8;
}

.above-game {
  position: relative;
}
.above-game p {
  margin: 0;
}
.above-game #total-chances {
  color: #42afd6;
}
.above-game .chances {
  width: 50%;
  margin: 0 auto;
  padding: 6px 0;
  background-color: white;
  border: 3px solid #42afd6;
  border-radius: 5px;
}
.above-game .chances #chances-n {
  color: #FF9801;
}

#cards-container {
  margin: 9px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}
#cards-container .card-flip-container {
  max-width: 29%;
  margin: 2%;
  position: relative;
  transition: 0.8s;
  transform-style: preserve-3d;
}
#cards-container .card-flip-container:hover {
  box-shadow: -3px 3px 6px #5f5f5f;
}
#cards-container .card-flip-container img {
  max-width: 100%;
  display: block;
}
#cards-container .card-flip-container .front, #cards-container .card-flip-container .back {
  backface-visibility: hidden;
  position: relative;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
  border: 1.5px solid #FF9801;
}
#cards-container .card-flip-container .front:hover {
  cursor: pointer;
}
#cards-container .card-flip-container .back {
  position: absolute;
  transform: rotateY(180deg);
}

.rotar {
  transform: rotateY(180deg);
}

.grayscale {
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}

#results-container {
  width: 80%;
  min-height: 20%;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  border: 6px solid black;
}
#results-container .win-lose-container p {
  margin: 0;
}

.results-chart {
  width: 90%;
  margin: 12px auto 0;
  display: flex;
}
.results-chart .div-chart {
  width: 33%;
  border: 1px solid black;
}

@media (min-width: 800px) {
  #start-game {
    width: 30%;
  }

  #cards-container {
    width: 50%;
  }
  #cards-container .card-flip-container {
    max-width: 21%;
    margin: 0.6%;
  }

  #results-container {
    width: 38%;
  }
}

/*# sourceMappingURL=styles.css.map */
